/****** user edit header ***********/
.edit-header {
	width: 100%;
	min-height: 59px;
	display: none;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid black;
	background-color: black;
}

.edit-header a {
	color: white;
	text-decoration: none;
	font-size: 16px;
	padding-right: 15px;
}

.edit-header span {
	padding: 15px 12px 15px 15px;
}

/****** introduction section ***********/
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: 0;
	width: 100%;
}

#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
	padding-left: 70px;
}

#introduction p {
	margin-bottom: 0.5em;
	padding-left: 70px;
}

/****** portfolio section***********/
.portfolio-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.portfolio-container div {
	flex: 1;
	justify-content: center;
	align-items: center;
}

#portfolio h2 {
	text-align: center;
	display: flex;
	width: fit-content;
	padding: 0px 20px;
}

/* user edit */
.portfolio-edit a {
	display: none;
	font-size: 14px;
    color: black;
	text-decoration: none;
	padding: 10px;
    align-items: flex-end;
    justify-content: flex-start;
}

.portfolio-edit .fa-solid {
	padding-right: 10px;
    font-size: 16px;
    padding-bottom: 1px;
}

/* gallery */
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

/****** filter buttons ***********/
.filters-container {
	display: flex;
	justify-content: center;
	margin: 20px 0px;
}

.filter-button {
	min-width: 100px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	background-color: #FFFEF8;
	margin: 30px 10px;
	padding: 9px 14px 9px 14px;
	text-align: center;
	border: 1px solid #1D6154;
	border-radius: 60px ;
}

.filter-button:hover {
	cursor: pointer;
	color: white;
	background-color: #1D6154;
}

.filter-button-selected {
	color: white;
	background-color: #1D6154;
}

/****** contact form ***********/
#contact {
    width: 34%;
    margin: auto;
}

#contact > * {
    text-align: center;
}

#contact h2 {
    margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	height: 36px;
	text-align: center;
	border-radius: 60px ;
}

#contact input[type="submit"]:hover {
	cursor: pointer;
	background-color: #0E2F28;
}