/****** navbar ***********/
.current-page {
	font-weight: bold;
	font-weight: 600;
}

/****** main ***********/

#login {
	width: 34%;
	margin: 80px auto;
}

#login > * {
	text-align: center;
}

#login h2 {
	margin-bottom: 20px;
}

#errorMessage {
	display: inline-block;
	text-align: left;
	font-weight: bold;
	width: calc(100% - 20px);
	background-color: rgba(211,47,47, 0.4);
	padding: 20px 0px 20px 20px;
	border-radius: 6px;
	margin: 10px auto;
}

#login form {
	text-align: left;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
    font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
	font-weight: 500;
}

#login input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	height: 36px;
	text-align: center;
	border-radius: 60px;
}

#login input[type="submit"]:hover {
	cursor: pointer;
	background-color: #0E2F28;
}

#login a {
	color: black;
	text-align: center;
	font-weight: 500;
}