/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	background-color: #FFFEF8;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

/****** index edit's header ***********/
.edit-header {
	width: 100%;
	min-height: 59px;
	display: none;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid black;
	background-color: black;
}

.edit-header a {
	color: white;
	text-decoration: none;
	font-size: 1.4em;
	padding-right: 15px;
}

.edit-header span {
	padding: 15px;
}

/**  header ... **/
header {
	width: 100%;
	max-width: 1140px;
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
main {
	width: 100%;
	max-width: 1140px;
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	font-size: 1.2em;
}

nav a {
	padding: 0 60px 0 0;
	color: black;
	text-decoration: none;
}
nav a:visited {
	color: black;
}
nav a:hover {
	color: #B1663C;
}
.special-login {
	font-weight: bold;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/****** index portfolio ***********/

.portfolio-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.portfolio-container div {
	flex: 1;
	justify-content: center;
	align-items: center;
}

#portfolio h2 {
	text-align: center;
	display: flex;
	width: fit-content;
	padding: 0px 40px;
}

.portfolio-edit a {
	display: none;
	font-size: 16px;
    color: black;
	text-decoration: none;
	padding: 10px;
}

.portfolio-edit .fa-solid {
	padding-right: 5px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

/* index filter buttons */

.filters-container {
	display: flex;
	justify-content: center;
	margin: 20px 0px;
}

.filter-button {
	min-width: 100px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	background-color: #FFFEF8;
	margin: 30px 10px;
	padding: 9px 14px 9px 14px;
	text-align: center;
	border: 1px solid #1D6154;
	border-radius: 60px ;
}

.filter-button:hover {
	cursor: pointer;
	color: white;
	background-color: #1D6154;
}

.filter-button-selected {
	color: white;
	background-color: #1D6154;
}

/****** index modal ***********/
.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	display: none;
	align-items: center;
	justify-content: center;
}

.modal-wrapper {
	overflow: auto;
	width: 600px;
	max-width: calc(100vw - 20px);
	max-width: calc(100vh - 20px);
	padding: 20px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.modal-control-button {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.modal-left-button {
	display: none;
}

/****** 
<div class="modal-control-button">
							<button class="modal-left-button"><span class="fa-solid fa-arrow-left"></span></button>
							<button class="modal-right-button"><span class="fa-solid fa-xmark"></span></button>
						</div>
	 ***********/

/****** index contact form ***********/

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
	margin-top: auto;
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: center;
}
.footerContainer {
	width: 100%;
	max-width: 1140px;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 2em 0 2em 2em;
}


/* Login Page */

#errorMessage {
	display: inline-block;
	text-align: left;
	font-weight: bold;
	width: calc(100% - 20px);
	background-color: rgba(211,47,47, 0.4);
	padding: 20px 0px 20px 20px;
	border-radius: 6px;
}

#login {
	width: 50%;
	margin: 80px auto;
}

#login > * {
	text-align: center;
}

#login h2{
	margin-bottom: 20px;
}

#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}

#login a {
	color: black;
	text-align: center;
}